.start {
    height:auto;
}

.subBlock {
    width: 40%;
    height: 600px;
    text-align: center;
}

.grayBlock {
    float:left;
    background-color: black;
    opacity: 0.7;
    position: relative;
}

.textMid {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.subPic {
    position: relative;
    text-align: center;
    height:600px;
    filter: brightness(60%);
}

.textOnPic {
    position:absolute;
    z-index:1;
}

.textPos_1 {
    width: 50%;
    left: 46%;
    top: 130vh;
}

.textPos_2 {
    width: 50%;
    left: 6%;
    top: 210vh;
}

.textPos_3 {
    width: 50%;
    left: 46%;
    top: 300vh;
}

.brownBlock {
    float:right;
    padding: 20px;
    background-color: #935116;
    filter: brightness(70%);
    position: relative;
}

.myFooter {
    background-color:  #34495e;
    padding: 30px;
}

.characterData {
    color:black;
    margin: 20px;
}

.nameMargin {
    margin: 5px;
}